/* CSS */
body {
    text-align: center;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
}

.is-imagem {
    height: 400px;
}

.is-text-principal {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}

label {
    display: block;
}

input {
    margin-bottom: 10px;
}